In [1]:
import numpy as np
import pandas as pd

In [9]:
hv_Series

A    0.006444
B    0.011312
dtype: float64

In [2]:
prices = pd.read_csv("prices.csv", parse_dates = ['date'])
prices = prices.set_index('date')
hv_list = []
for symbol in prices.ticker.unique():
    symbol_price = prices[prices['ticker'] == symbol]['price']
    symbol_lret = np.log(symbol_price/symbol_price.shift(1))
    symbol_hv = symbol_lret.std()
    hv_list.append(symbol_hv)
hv_Series = pd.Series(hv_list, index = prices.ticker.unique())
hv_Series.idxmax()

'B'

In [8]:
prices[prices['ticker'] == 'A']['price'][-1::-1]

date
2017-06-30    120.412920
2017-06-29    120.316575
2017-06-28    120.916967
2017-06-27    120.283049
2017-06-26    120.083062
2017-06-23    119.840808
2017-06-22    120.259131
2017-06-21    120.475020
2017-06-20    120.490008
2017-06-19    120.352813
2017-06-16    120.387798
2017-06-15    118.932408
2017-06-14    118.085924
2017-06-13    117.724216
2017-06-12    117.822149
2017-06-09    117.106704
2017-06-08    116.971735
2017-06-07    115.075779
2017-06-06    116.678170
2017-06-05    116.952931
2017-06-02    116.017258
2017-06-01    115.628684
2017-05-31    113.649182
2017-05-30    113.253534
2017-05-26    111.746283
2017-05-25    111.696616
2017-05-24    110.768889
2017-05-23    110.010136
2017-05-22    111.241613
2017-05-19    111.244796
                 ...
2016-08-12    104.546581
2016-08-11    104.765813
2016-08-10    105.405829
2016-08-09    106.397619
2016-08-08    106.325207
2016-08-05    107.257061
2016-08-04    106.370175
2016-08-03    106.797600
2016-08-02    107.767400
2016-08-01    107.191640
2016-07-29    106.922522
2016-07-28    107.249428
2016-07-27    106.431287
2016-07-26    106.661921
2016-07-25    105.998243
2016-07-22    105.937094
2016-07-21    105.876755
2016-07-20    104.795824
2016-07-19    104.139911
2016-07-18    104.171566
2016-07-15    104.666767
2016-07-14    104.284692
2016-07-13    103.959130
2016-07-12    103.406868
2016-07-11    104.482338
2016-07-08    104.421274
2016-07-07    104.931957
2016-07-06    104.411909
2016-07-05    104.878151
2016-07-01    104.000000
Name: price, dtype: float64

In [12]:
prices[prices.ticker == 'A']

                 price ticker
date
2016-07-01  104.000000      A
2016-07-05  104.878151      A
2016-07-06  104.411909      A
2016-07-07  104.931957      A
2016-07-08  104.421274      A
2016-07-11  104.482338      A
2016-07-12  103.406868      A
2016-07-13  103.959130      A
2016-07-14  104.284692      A
2016-07-15  104.666767      A
2016-07-18  104.171566      A
2016-07-19  104.139911      A
2016-07-20  104.795824      A
2016-07-21  105.876755      A
2016-07-22  105.937094      A
2016-07-25  105.998243      A
2016-07-26  106.661921      A
2016-07-27  106.431287      A
2016-07-28  107.249428      A
2016-07-29  106.922522      A
2016-08-01  107.191640      A
2016-08-02  107.767400      A
2016-08-03  106.797600      A
2016-08-04  106.370175      A
2016-08-05  107.257061      A
2016-08-08  106.325207      A
2016-08-09  106.397619      A
2016-08-10  105.405829      A
2016-08-11  104.765813      A
2016-08-12  104.546581      A
...                ...    ...
2017-05-19  111.244796      A
2017-05-22  111.241613      A
2017-05-23  110.010136      A
2017-05-24  110.768889      A
2017-05-25  111.696616      A
2017-05-26  111.746283      A
2017-05-30  113.253534      A
2017-05-31  113.649182      A
2017-06-01  115.628684      A
2017-06-02  116.017258      A
2017-06-05  116.952931      A
2017-06-06  116.678170      A
2017-06-07  115.075779      A
2017-06-08  116.971735      A
2017-06-09  117.106704      A
2017-06-12  117.822149      A
2017-06-13  117.724216      A
2017-06-14  118.085924      A
2017-06-15  118.932408      A
2017-06-16  120.387798      A
2017-06-19  120.352813      A
2017-06-20  120.490008      A
2017-06-21  120.475020      A
2017-06-22  120.259131      A
2017-06-23  119.840808      A
2017-06-26  120.083062      A
2017-06-27  120.283049      A
2017-06-28  120.916967      A
2017-06-29  120.316575      A
2017-06-30  120.412920      A

[252 rows x 2 columns]